body{
    margin:0%;
}

div.site{
    background-color: #800000;
    width:auto;
    height: 600px;
}

.titre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 150px;
    text-align: center;
    font-family: system-ui;
    color: white;
    font-size: 70px;
    font-weight: bold;
}
.savoir{
    color: white;
    font-family:system-ui;
    

}

.sous-titre{
    font-family: system-ui;
    font-size: 25px;
}

div.box{
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%);
    width: 95%;
    height: 2000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.753) 0px 5px 50px;
}

div>button{
    position: absolute;
    left: 45%;
    border-radius: 5px;
    margin-top: 25px;
}

div.box>p{
    font-family: system-ui;
    font-size: 300%;
}
div.box>img{
    display: flex;
    justify-content: space-evenly;
}

.sous-titre{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: black;
    font-size: 15px;
    text-align: center;
    font-family: system-ui;
}

.texte{
    justify-content: space-evenly;
    padding: 1%;
    text-align: center;
    color: black;
    font-size: 15px;
    margin-left: 30%;
    margin-right: 30%;
    font-family: system-ui;
    background-color: rgba(255, 0, 0, 0.15)
}

.titres{
    font-weight: bolder;
    font-family: system-ui;
}

textes{
    color: black;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.soustitre{
    color: #878787;
    font-size: 12px;
}


#titre{
    font-size: 25px;
    font-weight: bold;
}

#transvert{
    grid-column-start: 1;
    
}

#voitureelec{
    grid-column-start: 3;
}

#covoit{
    grid-column-start: 5;
}


div.contactgrid{
    margin-left: 70%;
    margin-top: 3%;
    display: grid;
    grid-template-rows: 70px 20px 70px 20px 70px;

}
.i{
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 5px;
}

ul{
    list-style-type : none;
}